.layer1{
  background-image: url("Background/ZickLayer.png");
  height: 10000px;
  width: 100%;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.layer2{
  background-image: url("Background/KreisLayer.png");
  height: 10000px;
  width: 100%;
  background-repeat: repeat;
  z-index: 1;
}

.layer3{
  background-image: url("Background/DreiLayer.png");
  height: 10000px;
  width: 100%;
  background-repeat: repeat;
  z-index: 1;
}

.layer4{
  background-image: url("Background/VierLayer.png");
  height: 10000px;
  width: 100%;
  background-repeat: repeat;
  z-index: 1;
}
