* {
  margin: 0;
  padding: 0;

    font-family: 'Open Sans', sans-serif;
}

html{
  scroll-behavior: auto;
}

body {
  height: 10000px;
  color: rgb(37, 37, 37);
}

.type {
  display: inline;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  position: relative;
}

.header .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .header {
  text-align: center;
}

h1 {
  font-size: 100px;
}

.content .header h2 {
  margin-top: -20px;
}

.button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

.wrapper {
  margin-top: 75px;
  width: 100%;
  display: table;
}

.table {
  display: table-row;
  text-align: center;
}

.left {
  width: 50%;
  display: table-cell;
}

.right {
  display: table-cell;
}

.gallery {
  background-color: #000;
  padding: 1.5%;
  z-index: 1;
}

.gallery img {
  width: 100%;
  display: block;
  padding-bottom: 1%;
}

.gallery p  {
  font-family: 'PT Mono', monospace;
  width: 50%;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
